img {
    height: 200px;
}

#fun {
    color: darkred;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: dodgerblue;
    padding: 10px;
  }
.container > div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }

.navbar ul {
    list-style-type: none;
    background-color: azure;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color:aquamarine;
    padding: 15px;
    display:block;
}

.navbar a:hover{
    background-color: blueviolet;
}

body {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: linear-gradient(0deg, #e5e5f7 50%, #c5c3ed 50%);
    background-size: 10px 10px;
    z-index: 3;
}
h2 {
    background-color:lightgrey;
    border: 5px solid black;
    margin: 10px;
    width: fit-content;
    z-index: 2;
}
img {
    margin: 10px;
}

.nav {
    display: flex;
    justify-content: center;
    z-index: 1;
}